@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;

    font-family: var(--mainFont);
}

:root {
    /* Colors */
    --color-primary: #171717;
    --color-secondary: #ededed;
    --color-tertiary: #1569c8;
    --color-gray: #ababab;
    --color-todoBackground: #b9b9b9;

    /* Measures */
    --mainMeasure: 1em;
    --secondMeasure: 2em;
    --thirdMeasure: 3em;
    --smallMeasure: 0.5em;
    --smallerMeasure: 0.2em;
    --diffMeasure: 0.01em;
    --fontSizeMain: 1.1em;
    --fontSizeSecMain: 1.5em;

    /* Fonts */
    --mainFont: "Roboto", serif;
}

/* ---------------------------------------------------------------- */
.btn-primary {
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.tab {
    color: var(--color-gray);
}

.tab:focus {
    color: var(--color-primary);
    border-bottom: 1px solid var(--color-primary);
}

.tab:hover {
    color: var(--color-primary);
    border-bottom: 1px solid var(--color-primary);
}
/* ---------------------------------------------------------------- */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 2em;
}

main {
    padding: var(--secondMeasure);
    /* border-radius: .5em; */
    border: 0.01em solid var(--color-primary);
    width: 50em;
}

.tab-content {
    display: none;
    margin-top: var(--thirdMeasure);
}

.active {
    display: block;
}

main ul {
    display: flex;
    position: fixed;
}

main ul li {
    margin: 0 1em 1em 0;
}

.img-refeering-text {
    width: 100%;
    display: grid;
    place-self: center;
}