@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;

    font-family: var(--mainFont);
}

:root {
    /* Colors */
    --color-primary: #171717;
    --color-secondary: #ededed;
    --color-tertiary: #1569c8;
    --color-grayColor: #ababab;
    --color-todoBackground: #b9b9b9;

    /* Measures */
    --mainMeasure: 1em;
    --secMainMeasure: 3em;
    --secMeasure: 2em;
    --rdMeasure: 0.5em;
    --thMeasure: 0.2em;
    --diffMeasure: 0.01em;
    --fontSizeMain: 1.1em;
    --fontSizeSecMain: 1.5em;

    /* Fonts */
    --mainFont: "Roboto", serif;
}

.btn-primary {
    cursor: pointer;
    background-color: transparent;
    border: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 2em;
}

main {
    padding: var(--secMeasure);
    border-radius: 1em;
    border: .1em solid var(--color-primary);
}

.tab-content {
    display: none;
}

.tab-content .text {
    /* border: 3px solid red; */
    width: 30em;
    margin-top: var(--rdMeasure);
    height: 10em;
}

.active {
    display: block;
}

main ul {
    display: flex;
    margin-bottom: var(--secMeasure);
}

main ul li {
    margin-right: 1em;
}

ul li .tab {
    font-size: var(--fontSizeMain);
}

.img-refeering-text {
    width: 30%;
}